@model IEnumerable<TDSTecnologia.FaceAlbum.Web.Models.Album>

@{
    ViewData["Title"] = "Albuns";
}

<div class="container">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Título
                </th>
                <th>
                    Data
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
